<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>資料已收到伺服器端</h1>
    <p>name:<%=name%></p>
    <p>age:<%=age%></p>
  </body>
</html>
