<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/students" method="POST">
      <label for="name">姓名:</label>
      <input type="text" name="name" />
      <label for="age">年齡</label>
      <input type="number" name="age" />
      <label for="major">科目</label>
      <input type="text" name="major" />
      <label for="merit">merit獎學金</label>
      <input type="text" name="merit" />
      <label for="other">other獎學金</label>
      <input type="text" name="other" />
      <button>新增</button>
    </form>
  </body>
</html>
